/* start main rules */
.container{width: 1170px;margin:auto}
.clearfix{clear: both}
/* end main rules */

/* start header */
.header .slider{
  background-image: url('../images/008.jpg');
  background-size: cover; /*css3*/
  height: 600px}
.header .slider .intro{
  height: 600px;
  text-align: center;
  color: #fff;
  padding-top: 200px;
}
.header .slider .intro h2{
  margin: 0 auto;
  font-size: 45px;
  width: 600px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 5px;
  color: #fff;
}
.header .slider .intro button{
  background: none;
  color: #fff;
  margin-top: 30px;
  border: 2px solid#fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
}
.header .navbar{
  background-color: #252f31;
  color: #fff;
  overflow: hidden;
  text-transform: uppercase;
}
.header .navbar h2{color: #fff}
.header .navbar h2 span{
  color: #32ca73
}
.header .navbar ul{
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  float: right;
}
.header .navbar ul li{
  float: left;
  padding: 10px;
}
.header .navbar ul li a{
  color: #fff;
  text-decoration: none;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover{
  color: #32ca73;
}
/* end header */

/* start features */
.features{
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 50px
}
.features .feat{
  width: 33.333333%;
  height: 150px;
}
.features .feat p{
  padding: 0 20px 0 0;
}
/* end features */

/* start about me */
.about-me{
  background-color: #f2f2f2;
  overflow: hidden;
}
.about-me .image{
  width: 40%;
}
.about-me .image img{
  width: 100%;
}
.about-me .info{
  width: 60%;
}
.about-me .info h2{
  margin:25px 0 5px 40px;
}
.about-me .info > p{
  margin:0 0 10px 40px;
}
.about-me .info > p:last-of-type {
  margin-top:15px;
}
.about-me .info .hobbies{
  overflow: hidden;
  margin: 15px 0 0 40px;
}
.about-me .content{
  width:50%;
  overflow: hidden;
}
.about-me .content .icon{
width: 10%;
margin-right: 5%;
}
.about-me .content .icon i{margin: 20px 10px 0 0;color: #32ca73}
.about-me .content .text{
width: 85%;
}
.about-me .content h3{margin-bottom: 5px}
/* end about me  */

/* start my skills */
.my-skills{padding-top: 30px;padding-bottom: 50px;overflow: hidden}
.my-skills .skills ,.my-skills .progress{width: 50%}
.my-skills .skills h2{
  margin:25px 0 5px 40px;
}
.my-skills .skills p{margin:0 0 10px 40px}
.my-skills .skills p:last-of-type {margin-top:15px}
.my-skills .skills button{margin:30px 0 10px 40px}
.my-skills .progress .tech{margin-left: 50px}
.my-skills .progress .tech div{background-color: #f2f2f2;height: 25px}
.my-skills .progress .tech div span{
  background-color:#32ca73;
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: right;
  color: #fff;
  font-weight: bold;
}
/* end my skills */

/* start resume */
.resume{
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
}
.resume h2{text-transform: uppercase;font-weight: bold}
.resume button{margin-top: 20px}
.resume p{padding: 0 40px}
/* end resume */

/* start my education */
.my-education{padding-top: 50px;padding-bottom: 70px;overflow: hidden}
.my-education .main {width: 50%;margin-right: 5%}
.my-education hr{margin: 20px 0;background-color: #999;height: 1px;border: 0}
.my-education .main h2{margin:25px 0 5px 40px}
.my-education .main p{margin:0 0 10px 40px}
.my-education .main p:last-of-type {margin-top:15px}
.my-education .exp{width: 45%}
.my-education .exp h3{margin-top: 65px;margin-bottom: 10px}
.my-education .exp span{display: block;margin-bottom: 10px}
.my-education .exp span:first-of-type{color: #999}
.my-education .exp span:last-of-type{
  background-color: #32ca73;
  color: #fff;
  display: inline-block;
  padding: 4px 10px}
.my-education hr{
  margin: 20px 0;
  background-color: #999;
  height: 1px;
  border: 0}
/* end my education */

/* start testimonials */
.testimonials{
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.testimonials q{line-height: 1.7;color: #666;font: italic bold 18px/1.8 arial, tahoma}
.testimonials h3{margin-bottom: 30px}
.testimonials ul{list-style: none;padding-left: 0;text-align: center}
.testimonials ul li{
width: 15px;
height: 15px;
border: 2px solid #32ca73;
display: inline-block;
cursor: pointer}
.testimonials ul li.active{background-color: #32ca73}
.testimonials ul li:hover{background-color: #32ca73}
/* end testimonials */

/* start Portfolio */
.portfolio{padding-top: 50px;padding-bottom: 70px;text-align: center}

.portfolio p{margin-bottom: 30px}
.portfolio .our-work{overflow: hidden}
.portfolio .our-work > div{float: left;margin-bottom: 10px;width:33.333333%}
.portfolio .our-work > div img{
   width: 92%;
  margin:10px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc}
/* end Portfolio */

/* start contact me  */
.contact{overflow: hidden;background-color: #252f31;padding-top: 50px;padding-bottom: 70px}
.contact .info{width: 50%;margin-right: 5%}
.contact h2{color: #fff;margin-left: 40px}
.contact p{color: #6b7072;margin-left: 40px}
.contact p strong{color: #d1d6da}
.contact .form{width: 45%}
.contact .form label{display: block;color: #d1d6da;margin: 10px 0}
.contact .form input[type="text"]{
  background-color: #4b5557;
  color: #fff;
  padding: 10px;
  border: 0;
  width: 80%;
  margin-bottom: 10px}
.contact .form textarea{
  background-color: #4b5557;
  color: #fff;
  padding: 10px;
  border: 0;
  width: 80%;
  margin-bottom: 10px;
  height: 300px;
}
.contact .form input[type="submit"]{
  background-color: #191e22;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  margin-top: 10px;
}
/* end contact me  */

/* start footer */
.footer{
  background-color: #191e22;
  color: #6b7072;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
}
.footer ul{
  list-style: none;
  padding-left: 0;
  margin:0;
  float: right;
}
.footer ul li{display: inline-block}
.footer ul li:hover{color: #fff}
/* end footer */

/* start my framework */
.my-button{
  background: none;
  color:#32ca73;
  border:3px solid #32ca73;
  font-weight: bold;
  padding: 10px 30px}
.fl-left{float: left}
p{line-height: 1.7;color: #888}
h2, h3{color: #777}
/* end my framework */
